<% if (theme.pages.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('pages') %></h3>
    <div class="widget">
      <ul class="pages-list" itemprop="keywords">
        <% for(var i=0; i < theme.pages.length; i++) { %>
          <li class="pages-list-item">
            <a class="pages-list-link" href="/<%- theme.pages[i] %>/" rel="tag"><%- theme.pages[i].replace('-',' ') %></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<% } %>
